<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Organisationsrapport</title>

    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" style="width: 1400px;">

        <h1>Organisationshierarki</h1>
        <pre>@Model.AsciiTreeRepresentation</pre>

        <h1>Organisationsenheder</h1>
        <table id="ou-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Navn</th>
                    <th class="col-md-5">Adresser</th>
                    <th class="col-md-5">Medarbejdere</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var ou in Model.OUs) {
                <tr>
                    <td>
                        @ou.Name <br/>
                        @ou.Uuid
                    </td>
                    <td>                        
                        <pre>@ou.AddressDetails</pre>
                    </td>
                    <td>
                        <pre>@ou.EmployeesDetails</pre>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <h1>Medarbejdere</h1>
        <table id="user-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Navn</th>
                    <th class="col-md-2">UserId</th>
                    <th class="col-md-2">Cpr</th>
                    <th class="col-md-6">Adresser</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model.Users) {
                <tr>
                    <td>@user.Name<br/>(@user.Uuid)</td>
                    <td>@user.UserId</td>
                    <td>@user.Cpr</td>
                    <td>
                        <pre>@user.AddressDetails</pre>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <h1>Udbetalingsenheder</h1>
        <table id="payout-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Enhed</th>
                    <th class="col-md-3">Enhed UUID</th>
                    <th class="col-md-2">Udbetalingsenhed</th>
                    <th class="col-md-3">Udbetalingsenhed UUID</th>
                    <th class="col-md-2">LOS Kaldenavn Kort</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var payoutUnit in Model.PayoutUnits) {
                <tr>
                    <td>@payoutUnit.UnitName</td>
                    <td>@payoutUnit.UnitUuid</td>
                    <td>@payoutUnit.PayoutUnitName</td>
                    <td>@payoutUnit.PayoutUnitUuid</td>
                    <td>@payoutUnit.PayoutUnitLOSShortKey</td>
                </tr>
                }
            </tbody>
        </table>

        <h1>Henvendelsessteder</h1>
        <table id="contact-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Enhed</th>
                    <th class="col-md-3">Enhed UUID</th>
                    <th class="col-md-2">Henvendelsesenhed</th>
                    <th class="col-md-3">Henvendelsesenhed UUID</th>
                    <th class="col-md-2">Opgaver</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var contactPlace in Model.ContactPlaces) {
                <tr>
                    <td>@contactPlace.UnitName</td>
                    <td>@contactPlace.UnitUuid</td>
                    <td>@contactPlace.ContactUnitName</td>
                    <td>@contactPlace.ContactUnitUuid</td>
                    <td>
                        <ul>
                            @foreach(var opgave in contactPlace.Opgaver) {
                                <li>@opgave</li>
                            }
                        </ul>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <h1>It-Systemer</h1>
        <table id="contact-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-4">ItSystem</th>
                    <th class="col-md-8">Enheder</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var itSystem in Model.ItSystems) {
                <tr>
                    <td>@itSystem.Uuid</td>
                    <td>
                        <ul>
                            @foreach(var enhed in itSystem.Enheder) {
                            <li>@enhed</li>
                            }
                        </ul>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#ou-table').DataTable({
                'pagelength': 100
            });

            $('#user-table').DataTable({
                'pagelength': 100
            });
        });
    </script>
</body>
</html>